<header>
  <h1><a href="/">New York Emacs Meetup</a></h1>

  {% include latest_post.html %}

  <ul class="nav">
    <li><a href="/blog.html">announcements</a></li>
    <li><a href="/videos.html">recorded talks</a></li>
    <li><a href="/giving-a-talk.html">give a talk!</a></li>
    <li><a href="http://www.meetup.com/New-York-Emacs-Meetup/">meetup.com group</a></li>
    <li><a href="https://github.com/emacsnyc">github</a></li>
    <li><a href="mailto:admin@emacsnyc.org">email</a></li>
    <li><a href="http://feeds.feedburner.com/emacsnyc">RSS</a></li>
  </ul>
</header>
