<header>
  <h1><a href="/">(emacs-nyc)</a></h1>

  <hr />

  <nav class="view">
    <a href="/blog.html">blog</a><br />
    <a href="/videos.html">recorded talks</a><br />
    <a href="/talk-ideas.html">ideas for talks</a><br />

    <a href="http://www.meetup.com/New-York-Emacs-Meetup/">meetup.com group</a><br />
    <a href="https://github.com/emacsnyc">github</a><br />
    <a href="mailto:admin@emacsnyc.org">email</a><br />
    <a href="http://feeds.feedburner.com/emacsnyc">RSS</a>
  </nav>
</header>
