<p>We're excited to have you join us for EmacsNYC a group of dedicated
lambda enthusiasts that come together once a month to share our mutual
joy of a piece of software that's over 40 years old.</p>

<p>Whether you are first time user, long time contributor, software
developer, writer, or just curious what this is all about, you will
find an open and welcome community that is eager for you to be a
part.</p>

<p>To create an environment that is welcoming,
  harrassment-free, and enjoyable to everyone, we have a
  <a href="https://github.com/emacsnyc/meeting-logistics/blob/master/code-of-conduct.md">code-of-conduct</a>
  that we following for every get together.</p>
