This month we are doing lightning talks!

We look forward to any talk you want to give that is Emacs or Emacs adjacent.

You can give a talk that is no more than 10 minutes in length. We are going to be pretty strict about this.

[Contact us](mailto:admin@emacsnyc.org) if you'd like to give a talk!

If you would like to give a lightning talk please feel free to come on up and speak. We will have everything set up for you when you get here.

If you would like to speak then or on any other occasion, take a look at this [guide](/giving-a-talk.html).
