This month we are doing lightning talks!

We look forward to any talk you want to give that is Emacs or Emacs
adjacent.

We do want to hear everything you have to say, but we will be limiting
each talk to 5 minutes and we will be strict about this. If you have
more to say please consider talking to us about doing a longer talk
next month.

Please sign up <a href="{{page.signup_form_url}}">here</a>.

If there is additional room and you are interested in speaking we will
try to accommodate you as best as possible.

If you would like to speak then or on any other occasion, take a look
at this [guide](/giving-a-talk.html).
