<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>(emacs-nyc)</title>

    <meta name="author" content="(emacs-nyc)" />
    <link href="http://feeds.feedburner.com/emacsnyc" rel="alternate" title="(emacs-nyc)" type="application/atom+xml" />

    <link rel="stylesheet" href="/assets/stylesheets/vendor/normalize.css" />
    <link rel="stylesheet" href="/assets/stylesheets/application.css" />
    <link rel="stylesheet" href="/assets/stylesheets/vendor/pygment_trac.css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- MathJAX latex rendering -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
      <section id="content">
        {{ content }}
      </section>
    </div>
    <script src="/assets/javascripts/scale.fix.js"></script>
  </body>
</html>
