html {
  font-size: 18px;
}

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    background-color: shade($orange, 15%);
    color: $base-background-color;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $light-gray;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 20px;
}

code, pre {
  background-color: tint($secondary-background-color, 50%);
  color: $base-background-color;
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 12px;
}

code {
  @include padding(null $small-spacing/2);
}

pre {
  border-radius: 5px;
  border: $base-border;
  overflow-x:  auto;
  padding: 8px 15px;
}

